<div class="content-section" id="artists-section">
    <div class="section-header">
        <a><h2>Popular Artists</h2></a>
        <a class="show-all">Show all</a>
    </div>
    <div class="content-container"></div>
</div>

<div class="content-section" id="albums-section">
    <div class="section-header">
        <a><h2>Popular Albums</h2></a>
        <a class="show-all">Show all</a>
    </div>
    <div class="content-container"></div>
</div>

<div class="content-section" id="radios-section">
    <div class="section-header">
        <a><h2>Popular Radio</h2></a>
        <a class="show-all">Show all</a>
    </div>
    <div class="content-container"></div>
</div>

<div class="content-section" id="featured-charts-section">
    <div class="section-header">
        <a><h2>Featured Charts</h2></a>
        <a class="show-all">Show all</a>
    </div>
    <div class="content-container"></div>
</div>

<div class="content-section" id="playlists-section">
    <div class="section-header">
        <a><h2>Spotify PlayLists</h2></a>
        <a class="show-all">Show all</a>
    </div>
    <div class="content-container"></div>
</div>