@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/menu__background.png") center;
  background-size: cover;
}

.text-18 {
  @apply text-xs xs:text-base md:text-lg;
}

.text-36 {
  @apply text-2xl xs:text-3xl md:text-4xl;
}

.text-30 {
  @apply text-xl xs:text-2xl md:text-3xl;
}

.si-button {
  @apply text-18 py-2 px-4 rounded border text-center border-gray-400 hover:bg-gray-600 uppercase  w-full xs:max-w-60;
}

.si-all-settings ul li {
  @apply border-b border-gray-500 flex justify-between px-4 py-1;
}

.browser-breadcrumb button {
  @apply hover:text-green-400 uppercase;
}

.left-menu-games li {
  background: url("./assets/side-menu__game.png");
  background-size: cover;
  @apply w-10 h-12;
}

.left-menu-others li {
  background: url("./assets/side-menu__game.png");
  background-size: cover;
  @apply w-10 h-12;
}

.right-menu-invite li {
  background: url("./assets/side-menu__game.png");
  background-size: cover;
  @apply w-10 h-12;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
